* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}



.container{
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0;
  top:0;
  overflow: hidden;
  z-index: -1;
}

#up,#down,#left,#right{
  position: absolute;
  border-radius: 50%;
  animation: gradient 2s ease-in-out infinite;
}

@keyframes gradient{
  0%{ transform: scale(1); }
  50%{ transform: scale(1.6); }
  100%{ transform: scale(1); }
}

#up{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(120deg,#cdb4ff,#a06cd5);
  top:-20%;
  left:-10%;
}

#down{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(120deg,#b8c0ff,#9d4edd);
  bottom:-20%;
  left:-10%;
}

#left{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(120deg,#e0aaff,#7b2cbf);
  right:-10%;
  top:-20%;
}

#right{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(120deg,#c77dff,#5a189a);
  bottom:-10%;
  right:-10%;
}

.container::after{
  position: absolute;
  content: "";  
  width: 100%;
  height: 100%;
  backdrop-filter: blur(120px);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-weight: bold;
  color: #3c096c;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #1c1c1c;
}

/* HERO */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.hero h1 {
  font-size: 60px;
  color: #ffffff;
}

.hero p {
  font-size: 20px;
}



.section {
  padding: 100px 10%;
  margin: 60px 5%;
  border-radius: 20px;
}

.glass {
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(25px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.4);
  padding: 20px;
  border-radius: 15px;
  flex: 1 1 250px;
  transition: 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.team-card img {
  height: 250px;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
}